!!! 5

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title(ng-bind-template='{{pageTitle}}')
    link(rel='stylesheet', href='css/client.css?v=1')
    link(rel='shortcut icon', href='favicon.ico')
    //if lte IE 7
      script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
    //if lte IE 8
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')

  body
    div(ng-app='application', ng-controller="appCtrl")
            div(ng-view)
 

    script(src="js/vendor.js")
    script(src="js/client.js")
    script(src="js/browserified.js")
    script(src="//localhost:1973/livereload.js")
